# Ignore sensitive files
config.json
.env
settings.ini
dublin-bikes-bc821-firebase-adminsdk-fbsvc-*.json
JCD_API_Info.py
JCD_DB_Info.py
OpenWeather_API_Info.py
firebase-config.js
.DS_Store
JCD_DB_local.py
JCDecauxAPI_to_DB_copy.py
JCD_API_Info.cpython-313.pyc
JCD_DB_local.cpython-313.pyc

