<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <img class="flex-item" src="static/imgs/logo.png">
        <h1 class="flex-item">Dublin Bikes</h1>
    </div>

    <h1>Welcome to {{ title }}</h1>
    <p>This is the homepage of the Flask app.</p>

    <div class="weather-map">
        <div class="weather-box">
            <h1>Weather</h1>
            <div class="weather-info">
                <!-- These will be dynamically updated by JavaScript -->
                <h2>Temp: <span id="temp-here"></span></h2> 
                <h2>Wind: <span id="wind-here"></span></h2>
                <h2>Cond: <span id="cond-here"></span></h2>
            </div>
        </div>

        <div id="map"></div>
    </div>

    <div class="bike-info">
        <div class="bike-header">
            <h2>Station Info</h2>
        </div>
        <div class="bike-details">
            <ul class="bike-details">
                <!-- These will be dynamically updated when a marker is clicked -->
                <li><strong>Address:</strong> <span id="station-address"></span></li>
                <li><strong>Total Bikes:</strong> <span id="station-total-bikes"></span></li>
                <li><strong>Available Bikes:</strong> <span id="station-available-bikes"></span></li>
                <li><strong>Available Stands:</strong> <span id="station-available-stands"></span></li>
            </ul>
        </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuYhHbAe7sJjIaVw8NL-pSHacXpH3cv1U&callback=initMap" async defer></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

